html{
    min-height:100%;
    position:relative;
}
body{
    height:100%;
}

h1 {
	font-size: 1.5em;
	margin-top: 0;
	margin-bottom: 0;
}

.move {
    width: 100px;
}

.pokemon_col {
	width: 80px;
}

pre {
    display: inline;
    margin: 0;
    margin-top:5px; 
    margin-bottom:5px;
}

#raw {
	float:left;
}

#ruw {
	float:left;
	width:500px;
	height:1000px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

#table-match {
	float:left;
	margin-right:70px;
}

#tables {
	float:left;
}

th, td {
    padding: 5px;
}

th {
    text-align: left;
}

.tier_filter {
	background-color:blue;
	color:#3FD188;
	padding:2px;
}

.exact {
	background-color:#3FD188;
}

.fuzzy {
	background-color:#ECDF29
}

.partial {
	background-color:#EAA01F
}

.form {
	padding: 10px;
	border: 2px solid black;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color:white;
}

.form_pane {
	padding: 10px;
	border: 2px solid black;
	margin: 5px;
	background-color: #f0f0f5;
}

#parse_types {
	margin: 5px;
}

#index_form {
	border: 2px solid black;
	padding: 5px;
	background-color: white;
}

.form_template.hidden {
	display:none;
}

.rawtext.results {
	font-family: Consolas,Menlo,Monaco,"Lucida Console","Courier New",Courier,monospace;
	width: 425px;
	height: 500px;
}

.results.pane {
	
	padding:10px;
	margin:5px auto;
}

.results.pane.info {

}

.results.pane.visual {
	float:left;
}

.results.pane.text {
	float:left;

}

#wrapper {

	margin-left:auto;
	margin-right:auto;
	width:120%;
}

ul.form {
	display: block;
    list-style-type: none;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    margin-top: 1em;
    margin-bottom: 0;
    
}

#options_pane {
	display: block;
}
#unmatched_replays {
	float:left;
}

