h1 {
	font-size: 1.5em;
	margin-bottom: 0;
}

.move {
    width: 100px;
}

.pokemon_col {
	width: 80px;
}

pre {
    display: inline;
    margin: 0;
    margin-top:5px; 
    margin-bottom:5px;
}

#raw {
	float:left;
}

#ruw {
	float:left;
	width:500px;
	height:1000px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

#tables {
	float:left;
	margin-right: 70px;
}

th, td {
    padding: 5px;
}

th {
    text-align: left;
}

.exact {
	background-color:#3FD188;
}

.fuzzy {
	background-color:#ECDF29
}

.partial {
	background-color:#EAA01F
}

/* Style the tab content */
.tabContent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

ul.form {
	display: block;
    list-style-type: none;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
}
/* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #ccc;}

#unmatched_replays {
	float:left;
}