<!DOCTYPE html>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="{% static 'scripts/index.js' %}"></script>

<html>
<body>

<form method="post" id="index_form">
  {% csrf_token %}
  <div id="parse_types">
    <input type="radio" name="parse_type" id="thread_button" value="thread">From thread
    <input type="radio" name="parse_type" id="range_button" value="range">From range
    <input type="radio" name="parse_type" id="link_button" value="none">From links
  </div>
  <div class="form_pane" id="parse_pane">
    <div id="thread" class="form_template">
	  <h1>From thread:</h1>
	  Example: http://www.smogon.com/forums/threads/smogons-official-ladder-tournament-iii-logs-replays-usage-stats.3582785/<br>
	  <ul class="form">
		<li>Thread URL:</li>
		<li><input type="text" name="thread_url"></li>
		<li>Starting post (Default = First):</li>
		<li><input type="text" name="thread_start"></li>
		<li>Ending post (Default = Last):</li>
		<li><input type="text" name="thread_end"></li>
		<li>Tiers (Default = gen7pokebankou):</li>
		<li><input type="text" name="thread_tiers" id="thread_tiers"></li>
		<li>Title:</li>
		<li><input type="text" name="thread_title" id="thread_title"></li>
	  </ul>
	</div>

	<div id="range" class="form_template">
	<h1>By range:</h1>
	Example: 220000, 221000<br>
	  <ul class="form">
		<li>Start:</li>
		<li><input type="text" name="range_start"></li>
		<li>End:</li>
		<li><input type="text" name="range_end"></li>
		<li>Tier (Default = gen7pokebankou):</li>
		<li><input type="text" name="range_tiers"></li>
	  </ul>
	</div>
  </div>
  <div class="form_pane" id="links_pane">
    Replay URLs:
    <div class="form" id="links_form">
	  <textarea name="replay_urls" rows="4" cols="80" ></textarea><br>
	  <button type="button">Add replay from HTML</button>
    </div>
  </div>
  <div class="form_pane" id="stats_pane">
    Cumulative stats:
    <div class="stats form">
	  <textarea class="rawtext" name="stats usage" rows="4" cols="80"></textarea><br>
	  <input type="radio" name="stat_type 1" value="usage" checked="true">Usage
	  <input type="radio" name="stat_type 1" value="moves">Moves
    </div>
    <input type="button" id="stats_more" value="Add more" /><br>
  </div>
  
  <div class="form_pane" id="options_pane">
  Moves and Teammates <input type="checkbox" name="moves_check" checked/>
  Leads <input type="checkbox" name="leads_check" checked/>
  Combos <input type="checkbox" name="combos_check" checked/>
  Cutoff <input id="cutoff" name="cutoff"/>%
  </div>
 
  <input type="submit" name="link_submit" value="Submit">
</form>

</body>
</html>