{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

<!DOCTYPE html>
<html>
<body>

	{% block content %}
	<div id=tables>
	{% for pairing in pairings %}
		<a href={{pairing.replay.url}}>{{ pairing.replay.url }}</a>
		<table class=movetable>
			<tr>
				<th colspan=2>{{ choice|lower }}</th>
				<th class=move>1</th>
				<th class=move>2</th>
				<th class=move>3</th> 
				<th class=move>4</th>
			</tr>
				{% for pokemon,moveset in pairing.moves.items %}
				<tr>
					<td><img src="/static/icons/{{pokemon}}.png"></td>
					<td class=pokemon_col>{{ pokemon }}</td>
					<td class=move>{{ moveset.0 }}</td>
					<td class=move>{{ moveset.1 }}</td>
					<td class=move>{{ moveset.2 }}</td>
					<td class=move>{{ moveset.3 }}</td>
				</tr>
			{% endfor %}
		</table>
		<table class=movetable>
			<tr>
				<th colspan=2></th>
				<th class=move>1</th>
				<th class=move>2</th>
				<th class=move>3</th> 
				<th class=move>4</th>
			</tr>
			{% for pokemon,moveset in replay.moves.lose.items %}
			<tr>
				<td><img src="/static/icons/{{pokemon}}.png"></td>
				<td class=pokemon_col>{{ pokemon }}</td>
				<td class=move>{{ moveset.0 }}</td>
				<td class=move>{{ moveset.1 }}</td>
				<td class=move>{{ moveset.2 }}</td>
				<td class=move>{{ moveset.3 }}</td>
			</tr>
			{% endfor %}
		</table>
	<br>
	{% endfor %}
	</div>
	{% endblock %}

Raw:<br>
<textarea class="rawtext" id=raw rows={{ row_count }} cols=60>
{{ raw }}
</textarea><br>

<label>Usage Stats:<br>
<textarea class="rawtext results">
{{ usage_whitespace }}
</textarea>
		
</body>
</html>