{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="{% static 'scripts/stats.js' %}"></script>

<!DOCTYPE html>
<html>
<body>

{% block content %}

<div class="results pane info">
  # of replays: {{ net_replays }}<br>
  # of Pokemon: {{ net_mons }}<br>

  <button class="tab" name="replay-listing">Replays</button>
  <button class="tab" name="replay-text">Links</button>

  <form method="post" id="resubmit">
    {% csrf_token %}
	<ul id=replay-listing>
	{% for replay, players in pairings %}
	  <li class="replay-entry">
		<input type="checkbox" name="replay_urls" value={{ replay.url }} checked>
		<a href="{{ replay.url }}">{{ players }}</a>
	  </li>
	{% endfor %}
	</ul>
  
    <textarea class="rawtext" id="replay-text">{{ replay_rawtext }}</textarea><br>
    
    <textarea class="rawtext hidden" name="new_urls" id="replays-add"></textarea><br>
    
    <button type="button" id="add-replays">Add more</button>
    <input type="submit" name="resubmit" value="Resubmit">
  </form>
</div>

<div id="wrapper">
<div class="results pane visual">
<table>
  <tr>
    <th></th>
    <th>Pokemon</th>
    <th>Usage</th>
    <th>Usage %</th> 
    <th>Win %</th>
  </tr>

  {% for element in usage_table %}
  <tr>
    <td><img src="static/icons/{{element.1}}.png"></td>
    <td>{{ element.1 }}</td>
    <td>{{ element.2 }}</td> 
    <td>{{ element.3|stringformat:".2f" }}%</td>
    <td>{{ element.4|stringformat:".2f" }}%</td>
  </tr>
{% endfor %}
</table>
</div>

<div class="results pane text">
Usage:<br>
<textarea class="rawtext results">
{{ usage_whitespace }}
</textarea><br>

{% if moves_whitespace %}
Moves and Teammates:<br>
<textarea class="rawtext results">
{{ moves_whitespace }}
</textarea><br>
{% endif %}

{% if combos_rawtext %}
Combos:<br>
<textarea class="rawtext results">
{{ combos_rawtext }}
</textarea><br>
{% endif %}

{% if leads_rawtext %}
Leads:<br>
<textarea class="rawtext results">
{{ leads_rawtext }}
</textarea>
{% endif %}

</div>



</div>

</div>
{% endblock %}
</body>
</html>