{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

<!DOCTYPE html>
<html>
<body>

	{% block content %}
	<table>
		<tr>
			<th></th>
			<th>Pokemon</th>
			<th>Usage</th>
			<th>Usage %</th> 
			<th>Win %</th>
		</tr>
  
		{% for element in usage_table %}
		<tr>
			<td><img src="static/icons/{{element.0}}.png"></td>
			<td>{{ element.0 }}</td>
			<td>{{ element.1 }}</td> 
			<td>{{ element.2 }}</td>
			<td>{{ element.3 }}</td>
		</tr>
		{% endfor %}
	</table>

<pre>
[CODE]
+ ---- + ------------------ + --- + ------- + ------- +
| Rank | Pokemon            | Use | Usage % |  Win %  |
+ ---- + ------------------ + --- + ------- + ------- +
{% for element in whitespace %}| {{ element.4 }} | {{ element.0 }} | {{ element.1 }} | {{ element.2 }} | {{ element.3 }} |
{% endfor %}[/CODE]
</pre>
	{% endblock %}
</body>
</html>