{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="{% static 'scripts/tour_match.js' %}"></script>
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script>
	var CSRF = "{{ csrf_token }}";
</script>

<!DOCTYPE html>
<html>
<body>
{% block content %}

Start: {{ start }}<br>
End: {{ end }}<br>
Thread: <a href={{url}} target="_blank">{{ url }}</a><br>

<form method=post action="/">
	{% csrf_token %}
	<div class="form_pane" id="options_pane">
	{{ options_pane }}
	</div>

<div id="tables">
  <table id="pairings_table">
    <tr class={{ match.3 }}>
  	  <th>Pairings</th>
  	</tr>
  	{% for match in matches %}
  	<tr>
  	  <td>{{ match.0 }}</td>
  	</tr>
  	{% endfor %}
  </table>
</div>

<div id="matches">
  
  <table id="table-match">
  <thead>
	<tr>
		<th>#</th>
		<th>Players</th> 
		<th>Match</th>
	</tr>
  </thead>
  <tbody>
	{% for match in matches %}
	<tr draggable="true" class="{{ match.2 }} dragHandler">
	  <input type="hidden" name="replay_urls" value={{ match.1.url }}>
	  <td><a href="{{ match.1.url }}" target="_blank">{{ match.1.number }}</a></td>
	  </input>
	  <td>{{ match.1.players }}</td>
	  <td>{{ match.2 }}</td>
	</tr>
	{% endfor %}
  </tbody>
  </table>
  
  <input type="submit" name="rep_submit" value="Submit">
</form>
</div>

{% endblock %}

<table id="unmatched_replays">
<tr>
	<th>#</th>
	<th>Players</th> 
	<th>Match</th>
</tr>

{% for replay in unmatched_replays %}
  <tr draggable="true" class="dragHandler">
	<input type="hidden" name="replay_urls" value={{ replay.url }}>
	<td><a href="{{ replay.url }}" target="_blank">{{ replay.number }}</a></td>
	</input>
	<td>{{ replay.players }}</td>
	<td>no match</td>
</tr>
{% endfor %}
</table>

</body>
</html>
