h1 {
	font-size: 1.5em;
	margin-bottom: 0;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
th {
    text-align: left;
}

.exact {
	background-color:#3FD188;
}

.fuzzy {
	background-color:#ECDF29
}

.partial {
	background-color:#EAA01F
}